.Entry
    border-bottom: 1px solid #bdbdbd

    &__label
        display flex
        flex-flow row nowrap
        align-items center
        padding 12px

        > *:not(:first-child)
            padding-left 8px

    &__type
        width 100px

    &__message
        flex 1 1 0
        text-overflow: ellipsis
        overflow hidden
        word-break: keep-all
        white-space nowrap

    &--error
        background-color: rgb(255, 136, 136);

    &--warn
        background-color: rgb(255, 215, 129);

    &__content
        overflow hidden

        pre
            word-break: break-word
            white-space pre-wrap
